<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../cssLib/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="../../cssLib/jqm-demos.css">
    <link rel="stylesheet" href="addOption.css">
    <script src="../../jsLib/jquery.js"></script>
    <script src="../../jsLib/widgestWorkArounds.js"></script>
    <script src="../../jsLib/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
    <div class="center-text">
        <h2> Add Option </h2>
        <h4> Add your own train or exercise </h4>
    </div>
    <div id="div-option">
        <select id="select-option" onchange="onOptionToAddChange()">
            <option selected disabled hidden>Select Train / Exercise</option>
            <option>Train</option>
            <option>Exercise</option>
        </select>
    </div>

    <div id="div-option-selected"> </div>
    <input type="submit" value="Submit" onclick="submitToDB()">

</body>

<footer data-role="footer" data-position="fixed">
    <div class="bottom" data-role="navbar">
        <ul>
            <li><a href="../../index.html" data-prefetch="true" data-transition="fade">Main</a></li>
            <li><a href="../addExercise/addExercise.html" data-prefetch="true" data-transition="flip">Add Exercise</a></li>
            <li><a href="addOption.html" data-prefetch="true" data-transition="turn">Add Option</a></li>
            <li><a href="../statistics/statistics.html" data-prefetch="true" data-transition="turn">Statistics</a></li>
        </ul>
    </div>
</footer>

<script src="addOption.js"></script>
<script src="../addExercise/addExercise.js"></script>
</html>