.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.select-from-to {
    display: inline-block;
}

table {
    font-size: 13px;
    margin: 0 auto;
}

td {
    border: 1px solid black;
    width: 1px;
    white-space: nowrap;
}

body {
    width: 100%;
}

.bottom ul li a {
    white-space: normal !important;
    height: 30px;
}

.center-text {
    text-align: center;
}