<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Statistics</title>
    <link rel="stylesheet" href="../../cssLib/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="../../cssLib/jqm-demos.css">
    <link rel="stylesheet" href="statistics.css">
    <script src="../../jsLib/jquery.js"></script>
    <script src="../../jsLib/widgestWorkArounds.js"></script>
    <script src="../../jsLib/jquery.mobile-1.4.5.min.js"></script>
    <title>Title</title>

</head>

<body>
<!--TODO add CSS to table to center it-->
<table id="statisticsTable"> </table>
</body>

<footer data-position="fixed" data-theme="a">
    <div class="bottom" data-role="navbar">
        <ul>
            <li><a href="../../index.html" data-prefetch="true" data-transition="fade">Main</a></li>
            <li><a href="../addExercise/addExercise.html" data-prefetch="true" data-transition="flip">Add Exercise</a></li>
            <li><a href="statistics.html" data-prefetch="true" data-transition="turn">Statistics</a></li>
        </ul>
    </div>
</footer>

<script src="statistics.js"></script>
</html>